body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

#game-area {
    width: 45rem;
    height: 30rem;
    background-color: #eee;
    position: relative;
    overflow: hidden;
}

#player {
    width: 75px;
    height: 75px;
    background-image: url("monPremierSprite_humanoïde.png"); /* Ton sprite PNG */
    background-size: contain;  /* Ajuste l'image dans le div */
    background-repeat: no-repeat; /* Evite la répétition */
    position: absolute;
}
