body{
    margin: 0;
    background-color: #222;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game-area{
    width: 600px;
    height: 400px;
    background-color: #eee;
    position: relative;
}
#player{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 100px;
}